In [20]:
pip install pandas

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [21]:

import pandas as pd 
position = pd.read_csv('country-position-nuclear-weapons.csv')
coordinated = pd.read_csv('world_country_and_usa_states_latitude_and_longitude_values.csv')
df = pd.merge(position, coordinated, on = ['country'])

In [22]:
coordinated

    country_code   latitude  longitude               country
0             AD  42.546245   1.601554               Andorra
1             AE  23.424076  53.847818  United Arab Emirates
2             AF  33.939110  67.709953           Afghanistan
3             AG  17.060816 -61.796428   Antigua and Barbuda
4             AI  18.220554 -63.068615              Anguilla
..           ...        ...        ...                   ...
240           YE  15.552727  48.516388                 Yemen
241           YT -12.827500  45.166244               Mayotte
242           ZA -30.559482  22.937506          South Africa
243           ZM -13.133897  27.849332                Zambia
244           ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [23]:
df

,country,Code,Year,nuclear_weapons_status,country_code,latitude,longitude
0,Afghanistan,AFG,1938,0,AF,33.939110,67.709953
1,Afghanistan,AFG,1939,0,AF,33.939110,67.709953
2,Afghanistan,AFG,1940,0,AF,33.939110,67.709953
3,Afghanistan,AFG,1941,0,AF,33.939110,67.709953
4,Afghanistan,AFG,1942,0,AF,33.939110,67.709953
...,...,...,...,...,...,...,...
16060,Zimbabwe,ZWE,2018,0,ZW,-19.015438,29.154857
16061,Zimbabwe,ZWE,2019,0,ZW,-19.015438,29.154857
16062,Zimbabwe,ZWE,2020,0,ZW,-19.015438,29.154857
16063,Zimbabwe,ZWE,2021,0,ZW,-19.015438,29.154857
16064,Zimbabwe,ZWE,2022,0,ZW,-19.015438,29.154857

In [24]:
del df['Code']

In [25]:
del df['country_code']
df

           country  Year  nuclear_weapons_status   latitude  longitude
0      Afghanistan  1938                       0  33.939110  67.709953
1      Afghanistan  1939                       0  33.939110  67.709953
2      Afghanistan  1940                       0  33.939110  67.709953
3      Afghanistan  1941                       0  33.939110  67.709953
4      Afghanistan  1942                       0  33.939110  67.709953
...            ...   ...                     ...        ...        ...
16060     Zimbabwe  2018                       0 -19.015438  29.154857
16061     Zimbabwe  2019                       0 -19.015438  29.154857
16062     Zimbabwe  2020                       0 -19.015438  29.154857
16063     Zimbabwe  2021                       0 -19.015438  29.154857
16064     Zimbabwe  2022                       0 -19.015438  29.154857

[16065 rows x 5 columns]

In [26]:
df.to_csv('updated_map_data.csv', index = False)